@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: rgba(97, 18, 172, 1.0);
    --nav-color: rgba(255, 255, 255, 1.0);
    --nav-width: 400px;
    --nav-height: 70px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color);
}

/* li {
    list-style: none;
    -webkit-user-select: none;
}

li>a {
    padding: 10px;
    text-decoration: none;
} */

.navigation {
    
    position: relative;
    width: var(--nav-width);
    height: var(--nav-height);
    background-color: var(--nav-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    width: calc(var(--nav-width) - 50px);
}

.navigation ul li {
    position: relative;
    list-style: none;
    /* controls the appearence of selection */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: calc(var(--nav-width) / 5);
    height: var(--nav-height);
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display direction column */
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
/* 
.navigation ul li:nth-child(1) a{
    border-color: red;
}
.navigation ul li:nth-child(2) a{
    border-color: green;
}
.navigation ul li:nth-child(3) a{
    border-color: blue;
}
.navigation ul li:nth-child(4) a{
    border-color: yellow;
}
.navigation ul li:nth-child(5) a{
    border-color: purple;
} */

.navigation ul li a .icon {
    /* border: 1px solid red; */
    position: relative;
    display: block;
    line-height: var(--nav-height);
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--bg-color);
}

.navigation ul li.active a .icon {
    transform: translateY(-35px);
}
.navigation ul li a .text {
    position: absolute;
    color: var(--bg-color);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator{
    position: absolute;
    top: -50%;
    width: var(--nav-height);
    height: var(--nav-height);
    background-color: #29fd53;
    border-radius: 50%;
    border: 6px solid var(--bg-color);
    transition: 0.5s;
}

.indicator::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    border-top-right-radius: 20px;
    background: transparent;
    box-shadow: 1px -10px 0 0 var(--bg-color);
}

.indicator::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    border-top-left-radius: 20px;
    background: transparent;
    box-shadow: -1px -10px 0 0 var(--bg-color);
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px  * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px  * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px  * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px  * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px  * 4));
}